*{
    padding:0 ;
}
.EVERYTHING{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.aboveheader{
    margin-bottom: 30px;
    margin-top: 50px;
   font-size: 35px;
   display: flex;
 justify-content: center;
}
.aboveheadertwo{
    margin-bottom: 30px;
    margin-top: 50px;
   font-size: 35px;
   display: flex;
 justify-content: center;
}
h1{
    margin-top: 20px;
    font-size: 110px;
    display: flex;
    justify-content: center;
}
.topdiv{
    display: flex;
    justify-content: center;
    border-top: 1px black solid;
    border-bottom: 1px black solid;

}
.navdiv1 > nav >ul >li{
    display: flex;
    justify-content: center;
}
.navdiv2 > nav >ul >li{
    display: flex;
    justify-content: center;
}
.navdiv3 > nav >ul >li{
    display: flex;
    justify-content: center;
}
.navdiv4 > nav >ul >li{
    display: flex;
    justify-content: center;
}
.navdiv1{
    border-left: 1px black solid;
    /* background-color: blue; */
    height: 50px;
    width: 150px;
}
.navdiv2{
    border-left: 1px black solid;
    /* background-color: rgb(55, 255, 0); */
    height: 50px;
    width: 150px;
}
.navdiv3{
    border-left: 1px black solid;
    /* background-color: rgb(117, 180, 22); */
    height: 50px;
    width: 150px;
}
.navdiv4{
    border-left: 1px black solid;
    /* background-color: rgb(170, 255, 0); */
    height: 50px;
    width: 150px;
}.navdiv5{
    display: flex;
    border-left: 1px black solid;
    /* background-color: rgb(255, 0, 0); */
    height: 50px;
    width: 150px;
}.navdiv6{
    border-left: 1px black solid;
    /* background-color: rgb(237, 237, 245); */
    height: 50px;
    width: 120px;
    border-right: 1px black solid;
}
.searchsrc{
    width: 100%;
    height: 70%;
}
.searchimg{
    margin-top: 15px;
    width: 30%;
}
.searchnav{
    margin-left: 10px;
    border: none;
    outline: none;
    height: 90%;
    width: 100%;
}
.listone{
    list-style-type: none;
     
}
.listtwo{
    list-style-type: none;
}
.listthree{
    list-style-type: none;
}
.listfour{
    list-style-type: none;
}
.aone{
    text-decoration:none;
  
}
.atwo{
    text-decoration:none;
    
}
.athree{
    text-decoration:none;
}
.afour{

    text-decoration:none;
}
.aone:hover{
    text-decoration:none;
    color: blue;
}
.atwo:hover{
    text-decoration:none;
    color: blue;
}
.athree:hover{
    text-decoration:none;
    color: blue;
}
.afour:hover{
    text-decoration:none;
    color: blue;
}
.navdiv6{
    display: flex;
}
.navdiv6{
    display: flex;
    align-items: center;
}
.navsixonesrc{
    height: 60%;
    width: 25%;
}
.navsixtwosrc{
    height: 60%;
    width: 25%;
}
.navsixthreesrc{
    height: 60%;
    width: 25%;
}
.navsixfoursrc{
    height: 60%;
    width: 25%;
}
.secondnav{
   
 width: 100%;
}
.secondnavdivtwo{
    margin-left:18% ;
    font-size: 15px;
    width: 90px;
}
.secondnavdiv{
   font-size: 15px;
   width: 90px;
}
.ousecondnavdiv{
    margin-top: 50px;
    display: flex;
}
.secondnaone:hover{
    color: blue;
}
.secondnatwo:hover{
    color: blue;
}
.secondnathree:hover{
    color: blue;
}
.secondnafour:hover{
    color: blue;
}
.secondli{
   width: 100%;
    list-style-type: none;
}
.secondnaone{
    color: black;
    text-decoration: none;
}
.secondnatwo{
    color: black;
    text-decoration: none;
}
.secondnathree{
    color: blue;
    text-decoration: none;
}
.secondnafour{
    color: black;
    text-decoration: none;
}
.widetokyo{
    display: flex;
    border: 1px solid black;
    width: 90%;
    height: 55vh;
}
.insideeverybox{
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.everybox{
    height: 250vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.widetokyosrc{
    width: 100%;
    height: 100%;
}
.widetokyoimg{
    width: 50%;
    height: 100%;
}
.widetokyotxt{
    margin-right: 10px;
    margin-left: 30px;
    width: 45%;
}
.widetokyoh{
    margin-bottom: 20px;
    font-size: 33px;
}
.widetokyospan{
font-size: 19px;
}
.wideamsterdam{
    display: flex;
    border: 1px solid black;
    width: 90%;
    height: 55vh;
}
.wideamsterdamsrc{
    width: 100%;
    height: 100%;
}
.wideamsterdamimg{
    width: 50%;
    height: 100%;
}
.wideamsterdamtxt{
    margin-right: 10px;
    margin-left: 30px;
    width: 45%;
}
.wideamsterdamh{
    margin-bottom: 20px;
    font-size: 33px;
}
.wideamsterdamspan{
font-size: 19px;
}
.wideturkey{
    display: flex;
    border: 1px solid black;
    width: 90%;
    height: 55vh;
}
.wideturkeysrc{
    width: 100%;
    height: 100%;
}
.wideturkeyimg{
    width: 50%;
    height: 100%;
}
.wideturkeytxt{
    margin-right: 10px;
    margin-left: 30px;
    width: 45%;
}
.wideturkeyh{
    margin-bottom: 20px;
    font-size: 33px;
}
.wideturkeyspan{
font-size: 19px;
}
.wideparis{
    display: flex;
    border: 1px solid black;
    width: 90%;
    height: 55vh;
}
.wideparissrc{
    width: 100%;
    height: 100%;
}
.wideparisimg{
    width: 50%;
    height: 100%;
}
.wideparistxt{
    margin-right: 10px;
    margin-left: 30px;
    width: 45%;
}
.wideparish{
    margin-bottom: 20px;
    font-size: 33px;
}
.wideparisspan{
font-size: 19px;
}
.belowevertthingblog{
    height: 68vh;
    margin-top: 20px;
    border-top: 1px solid black;
}
.arrow{
height: 100px;
width: 40px;
}
.arrowimg{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.contctme{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacthtwo{

    font-size: 35px;
    width: 100%;
}
.name{
    gap: 15px;
    display: flex;
    justify-content: center;
}
.emaill{
    display: flex;
    justify-content: center;
}
.message{
    display: flex;
    justify-content: center;
}
.nameinputone{
    width: 100%;
    height: 5vh;
}
.nameone{
    width: 25%;
    height: 5vh;
}
.nameinputtwo{
    width: 100%;
    height: 5vh;
}
.nametwo{
    width: 25%;
    height: 5vh;
}
.emaillinputone{
    width: 100%;
    height: 5vh;
}
.emaillone{
    margin-top: 30px;
    width: 52.5%;
    height: 5vh;
}
.messageinputone{
    width: 100%;
    height: 5vh;
}
.messageone{
    margin-top: 30px;
    width: 52.5%;
    height: 5vh;
}
.submitbtn{
    background-color: blueviolet;
    border: none;
    height: 8vh;
width: 15%;
}
.submitdiv{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitbtna{
    color: white;
    text-decoration: none;
}
.contacthtwotwo{
    margin-left: 400px;
}